# PlatformIO build files
.pio/
.pioenvs/
.piolibdeps/
.pio/libdeps/
.pio/build/

# IDE-specific files
.vscode/
.idea/

# OS and editor junk
.DS_Store
Thumbs.db

# Compiled files
*.elf
*.bin
*.hex

# Arduino-related
*.pyc
*.swp
*.bak

# Logs and backups
*.log
*.tmp
*.bak
