# PlatformIO build files
.pio/
.pioenvs/
.piolibdeps/
.pio/libdeps/
.pio/build/

# Arduino IDE / Arduino CLI build folders
.build/
lib/.cache/

# VSCode settings
.vscode/

# JetBrains IDE settings
.idea/

# MacOS Finder
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Linux temporary files
*~

# Compiled binaries & objects
*.elf
*.bin
*.hex
*.o
*.a

# Arduino-related temp files
*.pyc
*.swp
*.tmp
*.bak

# Logs
*.log

# Library metadata
library.json
